<div class="MS_Education">
    <div class="MS_PageHeader">
      <span ng-repeat="letter in ed.oTitle track by $index" ng-style="letter.oStyle" class="MS_PageSubHeader"> {{ letter.sChar }} </span>
    </div>
    <ul class="timeline" ng-repeat="proj in ed.arrEducation">
        <li class="time-label">
            <span class="bg-light-blue">
                {{proj.Degree}}
            </span>
        </li>
        <li class="MS_time-container">
            <i class="fa fa-graduation-cap bg-red"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i>{{proj.Batch}} </span>
                <h3 class="timeline-header skipClass"><a>{{proj.Board}}</a></h3>
            </div>
            <div class="timeline-item">
                <h3 class="timeline-header"><b>Institution</b></h3>
                <div class="timeline-body">
                    {{proj.Institution}}
                </div>
                <h3 class="timeline-header"><b>Score</b></h3>
                <div class="timeline-body">
                    {{proj.GPA}}
                </div>
            </div>
        </li>
    </ul>
</div>