<script src="~/Scripts/App/Controllers/AnnualReview/AnnualReview.js"></script>
<script src="~/Scripts/App/Controllers/AnnualReview/checklist.js"></script>
<script src="~/Scripts/App/Controllers/AnnualReview/externalReviewers.js"></script>
<script src="~/Scripts/App/Controllers/AnnualReview/rankHistory.js"></script>
<script src="~/Scripts/App/Controllers/AnnualReview/reviewHistory.js"></script>

<div class="MR_Container" ng-controller="AnnualReviewCtrl">
    <h2>@ViewBag.Heading</h2>
    <section class="AR_TopSection">
        <div class="AR_TopSectionSub">
            <div class="InnerContentInline DisplayInline">
                <select class="form-control"
                        ng-change="Helper.BroadCastAnnualReview()"
                        ng-model="oAnnualReview.oARCycle"
                        ng-options="item.AR_CYCLE for item in oARCycles">
                    <option value="">Year to View</option>
                </select>
            </div>
            <div class="DisplayInline FloatRight">
                <div class="CC_FormGroup_1">
                    <input class="form-control" type="text" placeholder="Last Name" ng-model="SearchCodeName.sLName" />
                    <input class="form-control" type="text" placeholder="First Name" ng-model="SearchCodeName.sFName" />
                    <button class="btn btn-info" type="button" ng-click="SearchCodeName.SearchByCodeName(SearchCodeName.sLName, SearchCodeName.sFName)">Search</button>
                </div>
            </div>
        </div>        
        <div class="AR_BottomSectionSub" ng-show="oAnnualReview.oPerson" ng-cloak>
            <div class="CC_FormGroup_1 AR_PersonDetailSection" ng-hide="SubEditType === 'edit' && !EditItem.ROWID">
                <div>
                    <label class="control-label">Last Name:</label>
                    <label class="customLabel MinMaxLen100" title="{{oAnnualReview.oPerson.LNAME}}">{{oAnnualReview.oPerson.LNAME}}</label>
                </div>
                <div>
                    <label class="control-label">First Name:</label>
                    <label class="customLabel MinMaxLen100" title="{{oAnnualReview.oPerson.FNAME}}">{{oAnnualReview.oPerson.FNAME}}</label>
                </div>
                <div>
                    <label class="control-label">Division:</label>
                    <label class="customLabel MinMaxLen100" title="{{oAnnualReview.oPerson.DIVISION}}">{{oAnnualReview.oPerson.DIVISION}}</label>
                </div>
                <div class="VerticalAlignTop">
                    <label class="control-label">Title:</label>
                    <label class="customLabel MinMaxLen100" title="{{oAnnualReview.oPerson.RANK}}">{{oAnnualReview.oPerson.RANK}}</label>
                </div>
                <div>
                    <label class="control-label">Office:</label>
                    <div>
                        <label class="control-label customLabel2">Address:</label>
                        <label class="customLabel MinMaxLen100" title="{{oAnnualReview.oPerson.OFFICE_ADDRESS}}">{{oAnnualReview.oPerson.OFFICE_ADDRESS}}</label>
                        <br>
                        <label class="control-label customLabel2">Phone:</label>
                        <label class="customLabel MinMaxLen100" title="{{oAnnualReview.oPerson.OFFICE_PHONE}}">{{oAnnualReview.oPerson.OFFICE_PHONE}}</label>
                    </div>
                </div>
                <div>
                    <label class="control-label">Assistant:</label>
                    <div>
                        <label class="control-label customLabel2">Name:</label>
                        <label class="customLabel MinMaxLen100" title="{{oAnnualReview.oPerson.SECNAME}}">{{oAnnualReview.oPerson.SECNAME}}</label>
                        <br>
                        <label class="control-label customLabel2">Phone:</label>
                        <label class="customLabel MinMaxLen100" title="{{oAnnualReview.oPerson.SECPHONE}}">{{oAnnualReview.oPerson.SECPHONE}}</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="AR_BottomSection" ng-show="oAnnualReview.oPerson && oAnnualReview.oARCycle" ng-cloak>
        <ul class="nav nav-tabs">
            <li ng-class="Helper.TabClass(tab)" ng-repeat="tab in tabs">
                <a href="{{tab.link}}" ng-click="Helper.SetSelectedTab(tab)">{{tab.label}}</a>
            </li>
        </ul>
        <div ng-view></div>
    </section>
    <div class="outer" ng-cloak ng-show="Popup.bShow">
        <div class="middle">
            <div class="inner CC_SearchCodeNameIO" ng-show="Popup.sType === 'searchCodeName'">
                <div class="button-group pull-right">
                    <button type="button" class="btn btn-default as-btn-text as-refresh-btn CC_ClosePopup" ng-click="Helper.ShowPopupSearchCodeName('cancel')">X</button>
                </div>
                <div class="PopupTitle">{{Popup.sTitle}}</div>
                <div>
                    <div class="CC_FormGroup_1">
                        <label class="control-label">Last Name</label>
                        <input class="form-control" type="text" placeholder="Enter last name" ng-model="SearchCodeName.sLName" />
                        <label class="control-label">First Name</label>
                        <input class="form-control CC_FG1_Name" type="text" placeholder="Enter first name" ng-model="SearchCodeName.sFName" />
                        <button class="btn btn-info CC_FG1_Search" type="button" ng-click="SearchCodeName.SearchByCodeName()"> Find </button>
                    </div>
                    <div class="CC_SearchCodeName_GridContainer" ng-show="oPeople.length">
                        <div class="CC_SearchCodeName_GridHeader">
                            <div class="AR_SCN_Code">LAST NAME</div>
                            <div class="AR_SCN_Name">FIRST NAME</div>
                            <div class="AR_SCN_MFK">DIVISION</div>
                        </div>
                        <div class="CC_SearchCodeName_Grid">
                            <div class="CC_SearchCodeName_GridRow" title="{{item.COMMENTS}}" ng-repeat="item in oPeople" ng-click="Helper.ShowPopupSearchCodeName('selected', item)">
                                <div class="AR_SCN_Code Ellipsis">{{item.LNAME}}</div>
                                <div class="AR_SCN_Name Ellipsis">{{item.FNAME}}</div>
                                <div class="AR_SCN_MFK Ellipsis">{{item.DIVISION}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="CC_SCN_Message">{{SearchCodeName.sDisplayMessage}}</div>
                </div>
            </div>
        </div>
    </div>
</div>