@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Oops, an error occurred while processing your request.
</h2>

Please contact <a href="@System.Configuration.ConfigurationManager.AppSettings["TechSupportEmail"]">@System.Configuration.ConfigurationManager.AppSettings["TechSupportContact"]</a> for assistance.

@Model.Exception.Message<br /><hr />

@Model.Exception.StackTrace