<?xml version="1.0" encoding="utf-8"?>

<!-- Web.config authentication section, for CCOM ITSPassport authentication -->

<authentication mode="Forms">

  <!-- DEV -->
  <forms name="SingleSignOn" loginUrl="http://localhost/AskIM/Account/Login" timeout="480" slidingExpiration="true" />

  <!-- TEST -->
  <!--<forms name="SingleSignOn" loginUrl="http://webapps1-test.healthcare.uiowa.edu/AskIM/Account/Login" timeout="480" slidingExpiration="true"/>-->

  <!-- STAGE -->
  <!--<forms name="SingleSignOn" loginUrl="http://webapps1-staging.healthcare.uiowa.edu/AskIM/Account/Login" timeout="480" slidingExpiration="true"/>-->

  <!-- PROD -->
  <!--<forms name="SingleSignOn" loginUrl="http://webapps1.healthcare.uiowa.edu/AskIM/Account/Login" timeout="480" slidingExpiration="true"/>-->

  <!-- hint - ensure project (properties) debugging server port matches localhost (above) -->
  <!-- note - deploy file once to servers, un-commenting "<forms loginUrl=" line of code appropriately -->
  <!-- afterwards, exclude file from project so that it isn't overwritten on target server during VS 2012 publishing (leave file intact in project folder) -->

</authentication>
