<?xml version="1.0" encoding="utf-8"?>

<!-- Web.config connectionStrings section, for CCOM Services -->

<connectionStrings>
  <!-- TESTING -->
  <!-- ****************************************************************** -->
  <add name="INTEGRATIONTESTS" connectionString="Data Source=HC-SQL7DEV;Initial Catalog=IMAnnualReview;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  <!-- These automatically change based on appSettings.CurrentApplicationMode; -->
  <!-- ****************************************************************** -->
  <!-- -->
  <!-- DEV -->
  <add name="DEV_SQL" connectionString="Data Source=HC-SQL7DEV;Initial Catalog=IMAnnualReview;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  <!-- -->
  <!-- TEST -->
  <add name="TEST_SQL" connectionString="Data Source=HC-SQL7TEST;Initial Catalog=IMAnnualReview;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  <!-- -->
  <!-- PROD -->
  <add name="PROD_SQL" connectionString="Data Source=HC-SQL7;Initial Catalog=IMAnnualReview;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  <add name="IMAnnualReportEntities" connectionString="metadata=res://*/Repository.IMAnnualReportEntities.csdl|res://*/Repository.IMAnnualReportEntities.ssdl|res://*/Repository.IMAnnualReportEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hc-sql7dev;initial catalog=IMAnnualReport;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
