<?xml version="1.0"?>

<!-- Web.config appSettings section, for default MVC4 and CCOM Services -->

<appSettings>
  <!-- ****************************************************************** -->
  <!-- *** DEVELOPMENT *** -->
  <!-- ****************************************************************** -->
  <!-- set to datetime value in order to use a date for development/testing (ex: 01/01/2014)-->
  <add key="DevelopmentDate" value=""/>
  <!-- set to [DEV | TEST | PROD] value in order to override calculated deployment environment-->
  <add key="DeploymentOverride" value=""/>
  <!-- *********** -->
  <!-- this will disable the ITS Passport Authentication (the Authorization will still occur); -->
  <!-- NOTE: will throw Exception if environment is PROD -->
  <add key="ItsPassportIsDisabled" value="false"/>
  <add key="ItsPassportHealthcareOrHawkId" value="{HEALTHCAREORHAWKID}"/>
  <add key="ItsPassportUniversityId" value="{UNIVERSITYID}"/>
  <!-- ****************************************************************** -->
  <!-- ****************************************************************** -->
  <!-- *** DEFAULT: MVC4 *** -->
  <!-- ****************************************************************** -->
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- ****************************************************************** -->
  <!-- ****************************************************************** -->
  <!-- *** APPLICATION *** -->
  <!-- ****************************************************************** -->
  <add key="ApplicationName" value="IMAnnualReview"/>
  <add key="ApplicationVersion" value="1.0.0.0"/>
  <!-- ****************************************************************** -->
  <!-- ****************************************************************** -->
  <!-- *** DEPLOYMENT ***-->
  <!-- ****************************************************************** -->
  <add key="DevServers" value="MAM*;MU*;MEQ*;MHV*;MX*;HC-WEBDEV01"/>
  <add key="TestServers" value="HC-VWEBTEST01"/>
  <add key="ProdServers" value="HC-WEB01;HC-WEB02"/>
  <add key="StageServers" value="HC-WEBSTAGE01"/>
  <!--  -->
  <!-- SQL -->
  <add key="DevSqlServers" value="HC-SQL7DEV;HC-SQL5DEV"/>
  <add key="TestSqlServers" value="HC-SQL7TEST;HC-SQL5TEST"/>
  <add key="ProdSqlServers" value="HC-SQL7;HC-SQL5"/>
  <!-- ORA -->
  <add key="DevOraServers" value=""/>
  <add key="TestOraServers" value=""/>
  <add key="ProdOraServers" value=""/>
  <!-- ****************************************************************** -->
  <!-- ****************************************************************** -->
  <!-- *** EMAIL ***-->
  <!-- ****************************************************************** -->
  <!-- set to move between environments -->
  <!-- Values [DEV | TEST | PROD] -->
  <!-- CHANGE FOR DEPLOYMENT -->
  <!--<add key="SmtpHost" value="{CUSTOM_CODE}"/>
    <add key="SmtpPort" value="25"/>
    <add key="EmailFromAddress" value="{CUSTOM_CODE}"/>
    <add key="EmailFromDisplayName" value="{CUSTOM_CODE}"/>
    <add key="EmailDeveloperSubject" value="Application Developer Message: {0} - {1}"/>
    <add key="EmailDeveloperToAddresses" value="{CUSTOM_CODE}"/>
    <add key="EmailExceptionSubject" value="Application Error: {0} - {1}"/>
    <add key="EmailExceptionToAddresses" value="{CUSTOM_CODE}"/>
    <add key="EmailExceptionCcAddresses" value="{CUSTOM_CODE}"/>
    <add key="EmailNotificationSubject" value="Application Notification: {0} - {1}"/>
    <add key="EmailNotificationToAddresses" value="{CUSTOM_CODE}"/>
    <add key="EmailNotificationCcAddresses" value="{CUSTOM_CODE}"/>
    <add key="EmailNotificationBccAddresses" value="{CUSTOM_CODE}"/>
   -->
  <!-- ****************************************************************** -->
  <!-- ****************************************************************** -->
  <!-- *** ERROR ***-->
  <!-- ****************************************************************** -->
  <add key="MainErrorMessage" value="There has been an error in the Application"/>
  <add key="ErrorMessage1" value="Please try again or contact Tech Support below"/>
  <add key="ErrorMessage2" value=""/>
  <add key="TechSupportContact" value="Tech Support"/>
  <add key="TechSupportEmail" value="mailto:myemail@healthcare.uiowa.edu"/>
  <add key="TechSupportPhone" value="319-111-2222"/>
  <!-- ****************************************************************** -->
  <!-- *** OFFLINE ***-->
  <!-- ****************************************************************** -->
  <add key="OffLineRedirectUrl" value="~/Offline"/>
  <!-- (ex: Developer;Admin -->
  <add key="OffLineExcludedRoles" value="Developer"/>
  <!-- -->
  <!-- *********** -->
  <!-- -->
  <add key="OffLineStartDateTime" value=""/>
  <add key="OffLineEndDateTime" value=""/>
  <add key="OffLineMessage1" value="The {0} Application is currently off-line."/>
  <add key="OffLineMessage2" value="The expected online time is: {0}"/>
  <add key="OffLineMessage3" value=""/>
  <add key="OffLineMessage4" value=""/>
  <add key="OffLineMessage5" value=""/>
  <!-- *********** -->
  <!-- -->
  <add key="OfflineScheduledStartDayOfWeek" value=""/>
  <add key="OfflineScheduledEndDayOfWeek" value=""/>
  <add key="OfflineScheduledStartTime" value=""/>
  <add key="OfflineScheduledEndTime" value=""/>
  <add key="OffLineScheduledMessage1" value="The {0} Application is currently off-line for schdduled maintenance."/>
  <add key="OffLineScheduledMessage2" value="The expected online time is: {0}"/>
  <add key="OffLineScheduledMessage3" value=""/>
  <add key="OffLineScheduledMessage4" value=""/>
  <add key="OffLineScheduledMessage5" value=""/>
  <!-- ****************************************************************** -->
  <!-- *** SECURITY ***-->
  <!-- ****************************************************************** -->
  <!-- use "{ANONYMOUS}" to allow all, even if method called in SecurityService -->
  <add key="AuthenticationADGroups" value="{healthcare\WApp1-Application-Users1;healthcare\WApp1-Application-Users2}"/>
  <add key="AuthenticationADDeveloperGroup" value="{healthcare\HC-SQL5-Application-Owners}"/>
</appSettings>
