/* START OF - Common properties*/
body {
    padding: 70px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* required as part of ui-Bootstrap*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.InlineBlock {
    display: inline-block;
}

.NoCursor {
    cursor: default;
}

.AlignCenter {
    text-align: center;
}

.AlignRight {
    text-align: right;
}

.PopupTitle {
    font-size: 27px;
    font-style: italic;
}

.FloatRight {
    float: right;
}

.PaddingBottom10 {
    padding-bottom: 10px;
}

.VerticalAlignTop{
    vertical-align: top;
}

.MarginTop5 {
    margin-top: 5px;
}

.DisplayInline {
    display: inline-block;
}

.customLabel {
    font-style: italic;
    font-weight: normal;
    color: grey;
}

.customLabel2 {
    font-weight: normal;
}

@keyframes slideDown {
    0%, 100% {
        transform: translateY(-60px);
    }

    10%, 90% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes slideDown {
    0%, 100% {
        -webkit-transform: translateY(-60px);
    }

    10%, 90% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes slideDown {
    0%, 100% {
        -moz-transform: translateY(-60px);
    }

    10%, 90% {
        -moz-transform: translateY(0px);
    }
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 3;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

    .middle .inner {
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
    }


.Notification {
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 3.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    font-weight: bold;
    font-size: 17px;
    transform: translateY(-60px);
    animation: slideDown 10s 0s 1 ease;
    -webkit-transform: translateY(-60px);
    -webkit-animation: slideDown 10s 0s 1 ease;
    -moz-transform: translateY(-60px);
    -moz-animation: slideDown 10s 0s 1 ease;
}

    .Notification.Info {
        background: #5bc0de;
    }

    .Notification.Danger {
        background: #d43f3a;
    }

    .Notification.Warning {
        background: #fde073;
    }


section.AR_TopSection, .AR_BottomSection {
    background: rgba(10,0,0,0.02);
    border-radius: 4px;
}

section.AR_TopSection {
    padding: 8px;
    margin-bottom: 10px;
}

.CC_CloseNotification {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}

.CC_Footer {
    background-color: rgb(200,200,200);
}

.CC_ClosePopup {
    background-color: rgba(150,0,0,0.8);
    color: white;
}

.CC_FormGroup_1 > * {
    display: inline-block;
    width: auto;
}

.CC_DeleteIO {
    width: 460px;
    height: 100px;
    text-align: center;
}

.MinMaxLen100 {
    min-width: 220px;
    max-width: 290px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}

.Ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* END OF - Common properties*/
/* START OF - Annual Review section */

.AR_BottomSectionSub > .CC_FormGroup_1 {
    margin-top: 10px;
}

.CC_FormGroup_1 > .CC_FG1_Name {
    width: 365px;
}

.CC_FormGroup_1 > .CC_FG1_Search {
    float: right;
}

.CC_SearchCodeNameIO {
    width: 800px;
    height: 800px;
}

.CC_SearchCodeName_GridContainer {
    margin-top: 7px;
}

.CC_SearchCodeName_Grid {
    overflow-y: auto;
    max-height: 678px;
}

.CC_SearchCodeName_GridHeader {
    font-weight: bold;
}

.CC_SearchCodeName_GridRow {
    text-align: left;
    cursor: pointer;
}

    .CC_SearchCodeName_GridRow > div, .CC_SearchCodeName_GridHeader > div {
        display: inline-block;
    }

    .CC_SearchCodeName_GridRow:hover {
        background-color: grey;
        color: white;
    }

.AR_SCN_Code {
    width: 200px;
}

.AR_SCN_Name {
    width: 200px;
}

.AR_SCN_MFK {
    width: 315px;
}

.AR_PersonDetailSection > div {
    width: 370px;
}

/* CheckList section */
.AR_TabContentContainer {
    padding: 10px;
    min-width: 1140px;
}

    .AR_TabContentContainer > div:not(:last-child) {
        margin-bottom: 20px;
    }

    .AR_TabContentContainer > div {
        border: 1px solid rgba(0,0,0,0.1);
        padding: 5px;
        border-radius: 5px;
    }

.chk_GridHeader {
    background-color: rgba(0,0,0,0.03);
    margin-bottom: 5px;
}

    .chk_GridHeader * {
        text-align: center;
    }

    .chk_GridHeader label {
        font-weight: lighter;
        font-style: italic;
    }


    .chk_GridHeader .chk_Vote > div:first-child,
    .chk_GridHeader .chk_Approval > div:first-child,
    .chk_GridHeader .ext_ReceivedComp > div:first-child,
    .chk_GridHeader .ext_Approved > div:first-child {
        border-bottom: 1px solid grey;
        width: 100%;
    }

    .chk_GridHeader > div {
        display: inline-block;
    }



.chk_row {
    padding: 2px;
}

    .chk_row.chk_unsaved {
        background-color: rgba(256,0,0,0.1);
        border-radius: 2px;
        border: 1px solid red;
    }

    .chk_row > * {
        display: inline-block;
    }

.chk_Vote > *, .chk_Approval > * {
    display: inline-block;
    width: 30px;
}

.chk_Vote, .chk_Approval {
    width: 300px;
}

.chk_row input, .chk_row select, .chk_row label, .chk_GridHeader label {
    width: 97px;
}

.chk_row button.chk_Btn {
    width: 35px;
}

.chk_row .chk_selfElected, .chk_GridHeader .chk_selfElected {
    width: 50px;
}

.AR_NewRankPost {
    width: 300px;
}

.AR_NewRankEffectiveDate {
    width: auto;
}

/* End of CheckList section */
/* External Reviewer section */
.AR_EXT_Reviewer {
    text-align: center;
}

.ext_ReceivedComp {
    width: 137px;
    text-align: center;
}

.chk_row button.ext_Btn {
    width: 97px;
}

.EXT_NewEditIO {
    width: 861px;
    height: 510px;
}

/* End of External Reviewer section */
/* Rank History section */
.AR_GridHeaderLabel {
    font-size: 25px;
}

.AR_RH_Reviewer .rh_Grid {
    display: inline-block;
    vertical-align: top;
}

.rh_labelWithBorder {
    font-weight: normal;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    padding: 1px;
    height: 24px;
}

.rh_Type {
    width: 460px !important;
}

.rh_Extension {
    width: 90px !important;
}

.rh_Grid.rh_RankHistory {
    width: 666px;
}

.rh_Grid.rh_AppointmentHistory {
    margin-left: 30px;
    width: 400px;
}
/* End of Rank History section */
/* Review History section */
.AR_REH_Reviewer {
    width: 518px;
}

    .AR_REH_Reviewer .rh_Committee {
        width: 400px;
    }

    .AR_REH_Reviewer .rh_labelWithBorder {
        vertical-align: top;
    }
/* End of Review History section */

/* END OF - Annual Review Section */
