<div class="MS_Contact">
    <div class="row NoMargin NoPadding">
        <div class="BottomContainer">
            <div class="MyCO" ng-repeat="con in co.arrCV">
                <a class="InnerTile MyC"
                   ng-href="{{con.Link}}" class="button-link" target="_blank">
                    <div class="IN_Title">{{con.Type}}</div>
                </a>
            </div>
        </div>
    </div>
    <div class="row NoMargin NoPadding">
        <div class="TopContainer">
            <div ng-repeat="con in co.arrContacts">
                <!--ng-mouseenter="hover = true"
                ng-mouseleave="hover = false">-->
                <a class="InnerTile"  ng-href="{{con.Link}}" class="button-link" target="_blank">
                   <!--ng-class="{'InnerTileAnimationClick': hover}"-->
                  
                    <div class="IN_Title">{{con.Type}}</div>
                </a>
            </div>
        </div>
    </div>
</div>
