<div class="MS_Landing">
    <!--<div class="glass MS_ButtonPress MS_LandingButton1">About</div>
    <div class="glass MS_ButtonPress MS_LandingButton2">Personnel</div>
    <div class="glass MS_ButtonPress MS_LandingButton3">Professional</div>-->
    <div class="jumbotron">
        <h1>Namastae ...</h1>
        <div class="MS_ContentContainer">
            <p>
                I have spent most of my life mulling about the vastness of the universe, the intricacies of a biological being and the complexity behind the technologies that add simplicity to our lives. And as much as I want to contribute in other fields, working with technology is what I am good at and I am always on the lookout for those that tickle my mind.
            </p>
        </div>
    </div>
</div>