<div class="MS_Landing">
    <!--<div class="glass MS_ButtonPress MS_LandingButton1">About</div>
    <div class="glass MS_ButtonPress MS_LandingButton2">Personnel</div>
    <div class="glass MS_ButtonPress MS_LandingButton3">Professional</div>-->
    <div class="jumbotron">
        <h1>Let's get started...</h1>
        <div class="MS_ContentContainer">
            <p>
                This site contains information about me, my educational and professional background.
            </p>
            <p>
                I have spent most of my life mulling about the vastness of the universe, the intricacies of a biological being, the complexity in technology behind the simplicity it adds to our chores and so on. And that is what makes my life exciting. There is always something great to do.
            </p>
        </div>
    </div>
</div>