<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            //location.reload();            
            $('#dialogDiv').modal('hide');
            location.replace(location.href);
        }, 3000);
    });
</script>
<div class="modal-content">
 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Role</h3>
</div> 
<div  class="modal-body">
    Role created successfully!
</div>
</div>