<script type="text/javascript">
    $(document).ready(function () {
        //$(".dialog").dialog("close");//close dialog after form submits successfully
        //$(".message").text("Shadow Assignment created successfully");
        //setTimeout(function () { location.reload(); }, 3000);
        //location.reload();

        setTimeout(function () {
            //location.reload();
            location.replace(location.href);
        }, 3000);

    });
</script>
<div class="modal-content">
 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Role</h3>
</div> 
<div  class="modal-body">
@if (ViewBag.errorMsg == null)
{
    <p>Role Deleted Successfully!</p>
}else{
    <p>@ViewBag.errorMsg</p>
}
</div>
</div>