@model IMAnnualReview.Domain.Entities.AppRole

@{
    ViewBag.Title = "Edit";
}

<div class="container" role="main">

    <h2>Edit</h2>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>AppRole</legend>

            @Html.HiddenFor(model => model.AppRoleId)
    		@Html.Partial("_CreateOrEdit", Model)

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

