@{
    ViewBag.Title = "Home";
}

<script src="~/Scripts/App/Controllers/Home.js"></script>

<div ng-controller="Home">

    <h2>Welcome to the IMAnnual Review Application.</h2>
    <p>@ViewBag.Message</p>

    <br />
    <h4>Review Links:</h4>
    <div class="list-group">
        <a href="" class="list-group-item" ng-click="GoToView('AnnualReview')">Annual Review</a>
    </div>
</div>
