<script src="~/Scripts/App/Controllers/Home.js"></script>

<div ng-controller="Home">

    <h2>Demo Application.</h2>

    <br />
    <h4>Review Links:</h4>
    <div class="list-group">
        <a href="" class="list-group-item" ng-click="GoToView('AnnualReview')">Annual Review</a>
    </div>
</div>
