<div class="AR_TabContentContainer">
    <div class="AR_CHK_Checklist">
        <div class="chk_Grid">
            <div class="chk_GridHeader">
                <label>Action</label>
                <label>Review Type</label>
                <label class="chk_selfElected">Self Elected</label>
                <label>Term (Yrs)</label>
                <label>Effective Date</label>
                <div class="chk_Vote">
                    <div>Vote</div>
                    <div class="chk_Vote">
                        <label>For</label>
                        <label>Against</label>
                        <label>Abstain</label>
                    </div>
                </div>
                <div class="chk_Approval">
                    <div>Approval</div>
                    <div class="chk_Approval">
                        <label>Dept</label>
                        <label>Dean</label>
                        <label>Provost</label>
                    </div>
                </div>
            </div>
            <div class="chk_row" ng-repeat="checklist in oChecklists.arrChecklists" ng-class="!checklist.ACTION_ID ? 'chk_unsaved' : ''">
                <select class="form-control"
                        ng-change="checklist.SaveListItems()"
                        ng-model="checklist.oActionType"
                        ng-options="item as item.text for item in DropdownConfigs.optionActionType">
                    <option value="">Action</option>
                </select>
                <select class="form-control"
                        ng-change="checklist.SaveListItems()"
                        ng-model="checklist.oReviewType"
                        ng-options="item as item.text for item in DropdownConfigs.optionsReivewType">
                    <option value="">Review</option>
                </select>
                <input type="checkbox" class="chk_selfElected" ng-model="checklist.SELF_ELECTED_Val" ng-change="checklist.SaveListItems()" />
                <input class="form-control" type="number" ng-model="checklist.TERM" ng-blur="checklist.SaveListItems()" />
                <input class="form-control" type="text" ng-model="checklist.EFFECTIVE_DATE" ng-blur="checklist.SaveListItems()" />
                <div class="chk_Vote">
                    <input class="form-control" type="number" ng-model="checklist.VOTE_FOR" ng-blur="checklist.SaveListItems()" />
                    <input class="form-control" type="number" ng-model="checklist.VOTE_AGAINST" ng-blur="checklist.SaveListItems()" />
                    <input class="form-control" type="number" ng-model="checklist.VOTE_ABSTAIN" ng-blur="checklist.SaveListItems()" />
                </div>
                <div class="chk_Approval">
                    <select class="form-control"
                            ng-change="checklist.SaveListItems()"
                            ng-model="checklist.oApvlDept"
                            ng-options="item as item.text for item in DropdownConfigs.optionsApproval">
                        <option value="">Approval</option>
                    </select>
                    <select class="form-control"
                            ng-change="checklist.SaveListItems()"
                            ng-model="checklist.oApvlDean"
                            ng-options="item as item.text for item in DropdownConfigs.optionsApproval">
                        <option value="">Approval</option>
                    </select>
                    <select class="form-control"
                            ng-change="checklist.SaveListItems()"
                            ng-model="checklist.oApvlProvost"
                            ng-options="item as item.text for item in DropdownConfigs.optionsApproval">
                        <option value="">Approval</option>
                    </select>
                </div>
                <button class="btn btn-danger chk_Btn" type="button" ng-click="checklist.DeleteChecklist()" ng-class="!checklist.ACTION_ID ? 'btn-warning' : ''">X</button>
            </div>
        </div>
        <div class="MarginTop5">
            <button class="btn btn-info chk_Btn" type="button" ng-click="Helper.AddNewChecklist()" ng-show="oChecklists.showAddChecklist">Add new</button>
        </div>
    </div>
    <div class="AR_CHK_NewRank">
        <div>New Rank</div>
        <div>
            <input type="text" class="form-control InlineBlock AR_NewRankPost" ng-model="oChecklists.oAnnualReviewDetails.NEW_RANK" ng-blur="oService.SaveChecklistDetail()" />
            <div class="InlineBlock">
                <div class="InlineBlock">Effective Date</div>
                <input type="text" class="form-control InlineBlock AR_NewRankEffectiveDate" ng-model="oChecklists.oAnnualReviewDetails.NEW_RANK_EFFECTIVE" ng-blur="oService.SaveChecklistDetail()" />
            </div>
        </div>
    </div>
    <div class="AR_CHK_CommitteeAction">
        <div>Committee Action</div>
        <input type="text" class="form-control" ng-model="oChecklists.oAnnualReviewDetails.COMM_ACTION" ng-blur="oService.SaveChecklistDetail()" />
    </div>
    <div class="AR_CHK_CV_URL">
        <div>CV URL</div>
        <input type="text" class="form-control" ng-model="oChecklists.oAnnualReviewDetails.CV_WEBSITE" ng-blur="oService.SaveChecklistDetail()" />
    </div>
    <div class="AR_CHK_NOTE">
        <div>NOTE</div>
        <input type="text" class="form-control" ng-model="oChecklists.oAnnualReviewDetails.NOTE" ng-blur="oService.SaveChecklistDetail()" />
    </div>
</div>
<div class="outer" ng-cloak ng-show="Popup.bShow">
    <div class="middle">
        <div class="inner CC_DeleteIO" ng-show="Popup.sType === 'delete'">
            <div class="PopupTitle">{{Popup.sTitle}}</div>
            <div>
                <button class="btn btn-danger CC_CreateIO" type="button" ng-click="oService.DeleteChecklist()"> YES </button>
                <button class="btn btn-info CC_CreateIO" type="button" ng-click="Popup.ShowPopup(false, null, null)"> NO </button>
            </div>
        </div>
    </div>
</div>